@use "../utils/vars";

.button {
  border: none;
  border-radius: 10px;
  background-color: vars.$accent-color;
  transition: background vars.$normal;
  &:hover,
  &:focus {
    background-color: vars.$accent-darker;
  }
}

.scroll-to-top__btn {
  position: fixed;
  font-size: 16px;
  bottom: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition:
    background vars.$normal,
    transform vars.$normal;
  z-index: 100;
  animation: fadeIn 0.3s ease-in-out;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
  @media screen and (min-width: 768px) {
    font-size: 20px;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 24px;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
