@use "../utils/vars";

.input {
  background-color: #d9d9d9;
  border: none;
  outline: none;
  border-radius: 10px;
  color: vars.$placeholder-color;
  &::placeholder {
    font-size: 14px;
    color: vars.$placeholder-color;
  }
}
