.title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
