@use "../../../utils/vars";

.weather-chart {
  padding: 20px 0 40px;
  background-color: vars.$bg-accent;
  border-radius: 20px;
  margin: 40px 0;
  max-height: 350px;
  @media screen and (min-width: 768px) {
    max-height: 450px;
    margin: 60px 0;
    padding: 25px 0 40px;
  }
  @media screen and (min-width: 1340px) {
    max-height: 550px;
    margin: 80px 0;
  }
}
.chart__title {
  font-size: 10px;
  margin-left: 10%;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    margin-left: 5%;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 16px;
  }
}
