@use "../../../utils/vars";

.weather-stats {
  padding: 40px 5%;
  background-color: vars.$bg-accent;
  border-radius: 20px;
}
.stats__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5%;
  grid-row-gap: 40px;
}
.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-radius: 10px;
  background-color: #d9d9d9;
  transition: transform vars.$normal;

  &:hover {
    transform: translateY(-5px); // Невелика інтерактивність
  }
}
.stats__label {
  font-size: 16px;
  font-weight: 500;
}
.stats__value {
  font-size: 32px;
  font-weight: 500;
  margin: 10px 0 20px;
}
.stats__icon {
  font-size: 85px;
  display: flex;
}
@media (max-width: 768px) {
  .stats__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .stats__list {
    grid-template-columns: 1fr;
  }
}
