@use "../../../utils/vars";

.weather-stats {
  padding: 20px 5%;
  background-color: vars.$bg-accent;
  border-radius: 20px;
  @media screen and (min-width: 768px) {
    padding: 30px 5%;
  }
  @media screen and (min-width: 1340px) {
    padding: 40px 5%;
  }
}
.stats__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5%;
  grid-row-gap: 20px;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
  }
  @media screen and (min-width: 1340px) {
    grid-row-gap: 40px;
  }
}
.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-radius: 10px;
  background-color: #d9d9d9;
  transition: transform vars.$normal;
  &:hover {
    transform: translateY(-5px);
  }
}
.stats__label {
  font-size: 12px;
  font-weight: 500;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
.stats__value {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
  @media screen and (min-width: 768px) {
    font-size: 28px;
    margin: 10px 0 20px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 32px;
  }
}
.stats__icon {
  font-size: 65px;
  display: flex;
  @media screen and (min-width: 768px) {
    font-size: 85px;
  }
}
