$accent-color: #ffb36c;
$accent-darker: #e09b5a;

$bg-accent: #e8e8e8;
$bg-primary: #fff;

$text-primary: #000;
$text-secondary: #fff;
$placeholder-color: #878787;

$fast: 100ms ease-in-out;
$normal: 200ms ease-in-out;
