.gallery {
  padding: 40px 0 55px;
  overflow-x: hidden;
}
.gallery-swiper {
  width: 75%; /* Ширина однієї картки */
  height: 280px; /* Висота однієї картки */
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    height: 380px;
  }
  @media screen and (min-width: 1340px) {
    width: 50%;
  }
}
.swiper-slide {
  border-radius: 10px;
  overflow: hidden;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
