@use "../utils/vars";

header {
  padding: 14px 0;
  font-family: "Montserrat Alternates";
  z-index: 3;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 4px 40px 0px rgba($color: #000000, $alpha: 0.25);
  @media screen and (min-width: 768px) {
    padding: 17px 0;
  }
  @media screen and (min-width: 1340px) {
    padding: 12px 0;
  }
}
.header__container {
  display: flex;
  align-items: center;
}
.logo {
  max-width: 45px;
  max-height: 32px;
  @media screen and (min-width: 768px) {
    max-width: 54px;
    max-height: 36px;
  }
  @media screen and (min-width: 1340px) {
    max-width: 82px;
    max-height: 56px;
  }
}
.header__nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 10%;
  }
}
.header-nav__list {
  display: flex;
  gap: 45px;
}
.header-nav__link {
  font-size: 10px;
  font-weight: 500;
  transition: color vars.$normal;
  &:hover,
  &:focus {
    color: vars.$accent-color;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}
.header__btn {
  display: none;
  font-size: 10px;
  padding: 8px 16px;
  font-weight: 500;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1340px) {
    font-size: 12px;
    padding: 10px 20px;
  }
}
.header-user__svg {
  display: none;
  max-width: 40px;
  max-height: 40px;
  margin-left: 25px;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1340px) {
    max-width: 50px;
    max-height: 50px;
    margin-left: 30px;
  }
}
.mobile__backdrop {
  z-index: 1;
  position: fixed;
  inset: 0;
}
.header-mobile__btn {
  font-family: "Montserrat Alternates";
  border: none;
  background: transparent;
  margin-left: auto;
  font-weight: 500;
  font-size: 12px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header-mobile__box {
  z-index: 2;
  position: fixed;
  background-color: #e6e6e6;
  width: 100vw;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(0);
  transition: transform vars.$normal;
  &.hidden {
    transform: translateY(-200%);
  }
  @media screen and (min-width: 768px) {
    transform: translateY(-200%);
  }
}
.header-mobile-nav__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.header-mobile-right__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  & .header-user__svg {
    display: block;
    margin: 0;
  }
  & .header__btn {
    display: block;
  }
}
