@use "../utils/vars";

.hero {
  padding: 100px 0;
  background-image: url("../../images/hero__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 80px;
  color: vars.$text-secondary;
  text-align: center;
}
.hero__box {
  display: flex;
  justify-content: center;
}
.hero__subtitle {
  font-size: 24px;
  font-weight: 500;
  color: vars.$text-secondary;
  width: 30%;
  padding-bottom: 50px;
  &:first-child {
    text-align: end;
    padding-right: 52px;
    border-right: 1px solid #fff;
  }
  &:last-child {
    padding-left: 52px;
    border-left: 1px solid #fff;
  }
  & .hero-subtitle__sup {
    color: vars.$text-secondary;
  }
}
.hero-search__box {
  position: relative;
  width: 45%;
  margin: 0 auto;
}
.hero-search__form {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.hero-search__input {
  flex-grow: 1;
  padding: 12px 30px;
  outline: none;
  border-radius: 10px 0 0 10px;
  width: 35%;
  &.suggested {
    border-bottom-left-radius: 0;
  }
}
.hero-search__btn {
  border-radius: 0;
  border-left: 2px solid #000;
  border-radius: 0 10px 10px 0;
  padding: 7px 10px;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  &.suggested {
    border-bottom-right-radius: 0;
  }
}
.hero-search__svg {
  max-width: 25px;
  max-height: 25px;
}
.hero-search__dropdown {
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 0 0 20px 20px;
  border-top: 1px solid vars.$placeholder-color;
  background: linear-gradient(180deg, rgba(217, 217, 217, 1) 0%, rgba(189, 189, 189, 1) 50%, rgba(145, 145, 145, 1) 100%);
  z-index: 1;
}
.hero-search-error__text {
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
}
.hero-suggestions__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.2s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    .hero-suggestions__btn {
      opacity: 1;
    }
  }
}
.hero-suggestions__btn {
  cursor: pointer;
  opacity: 0.6;
  display: flex;
  align-items: center;
  padding: 5px;
  .hero-suggestions__svg {
    width: 18px;
    height: 18px;
  }
}
