@use "../utils/vars";

.hero {
  padding: 50px 0 100px;
  background-image: url("../../images/hero__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    padding: 40px 0;
  }
  @media screen and (min-width: 1340px) {
    padding: 100px 0;
  }
}
.hero__title {
  font-size: 16px;
  font-weight: 600;
  color: vars.$text-secondary;
  text-align: center;
  margin-bottom: 35px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 40px;
    margin-bottom: 80px;
  }
}
.hero__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: unset;
  }
}
.hero__subtitle {
  font-size: 12px;
  font-weight: 500;
  color: vars.$text-secondary;
  & .hero-subtitle__sup {
    color: vars.$text-secondary;
  }
  &:first-child {
    padding-bottom: 20px;
  }
  width: 50%;
  border-left: 2px solid #fff;
  padding-left: 25px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    padding-bottom: 50px;
    width: 30%;
    &:first-child {
      text-align: end;
      padding-right: 52px;
      border-right: 1px solid #fff;
      border-left: none;
    }
    &:last-child {
      padding-left: 52px;
      border-left: 1px solid #fff;
    }
  }
  @media screen and (min-width: 1340px) {
    font-size: 24px;
  }
}
.hero-search__box {
  position: relative;
  margin: 0 auto;
  width: 75%;
  @media screen and (min-width: 768px) {
    width: 45%;
  }
}
.hero-search__form {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @media screen and (min-width: 768px) {
    margin-top: 65px;
  }
  @media screen and (min-width: 1340px) {
    margin-top: 80px;
  }
}
.hero-search__input {
  flex-grow: 1;
  padding: 6px 10px;
  outline: none;
  border-radius: 10px 0 0 10px;
  &::placeholder {
    font-size: 11px;
  }
  &.suggested {
    border-bottom-left-radius: 0;
  }
  @media screen and (min-width: 768px) {
    padding: 8px 20px;
    &::placeholder {
      font-size: 12px;
    }
  }
  @media screen and (min-width: 1340px) {
    padding: 12px 30px;
    &::placeholder {
      font-size: 14px;
    }
  }
}
.hero-search__btn {
  border-radius: 0;
  border-left: 2px solid #000;
  border-radius: 0 10px 10px 0;
  padding: 3px 4px;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  &.suggested {
    border-bottom-right-radius: 0;
  }
  @media screen and (min-width: 768px) {
    padding: 5px 6px;
  }
  @media screen and (min-width: 1340px) {
    padding: 7px 10px;
  }
}
.hero-search__svg {
  max-width: 15px;
  max-height: 15px;
  @media screen and (min-width: 768px) {
    max-width: 20px;
    max-height: 20px;
  }
  @media screen and (min-width: 1340px) {
    max-width: 25px;
    max-height: 25px;
  }
}
.hero-search__dropdown {
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid vars.$placeholder-color;
  background: linear-gradient(180deg, rgba(217, 217, 217, 1) 0%, rgba(189, 189, 189, 1) 50%, rgba(145, 145, 145, 1) 100%);
  z-index: 1;
  @media screen and (min-width: 768px) {
    border-radius: 0 0 20px 20px;
  }
}
.hero-search-error__text {
  text-align: center;
  margin: 10px 0;
  font-size: 10px;
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 14px;
  }
}
.hero-suggestions__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  cursor: pointer;
  transition: background 0.2s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    .hero-suggestions__btn {
      opacity: 1;
    }
  }
  @media screen and (min-width: 768px) {
    padding: 10px 10px 20px 20px;
  }
  @media screen and (min-width: 1340px) {
    padding: 10px 10px 20px 30px;
  }
}
.hero-city__name {
  font-size: 11px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 16px;
  }
}
.hero-suggestions__btn {
  cursor: pointer;
  opacity: 0.6;
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: 5px;
  .hero-suggestions__svg {
    width: 15px;
    height: 15px;
    @media screen and (min-width: 768px) {
      width: 18px;
      height: 18px;
    }
  }
  @media screen and (min-width: 768px) {
    padding: 5px;
    border-radius: 10px;
  }
}
