@use "../utils/vars";

.modal__backdrop {
  position: fixed;
  z-index: 10;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.5);
  opacity: 1;
  transition: opacity 250ms linear;
}
.modal__backdrop.hidden {
  opacity: 0;
  pointer-events: none;
}
.modal__body {
  min-width: 30%;
  position: relative;
  border-radius: 25px;
  padding: 28px 80px;
  background-color: vars.$bg-primary;
}
.modal__title {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}
.modal-close__btn {
  display: flex;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  position: absolute;
  font-size: 16px;
  top: 3%;
  right: 3%;
  border-radius: 50%;
  transition: background vars.$normal;
  &:hover,
  &:focus {
    background-color: vars.$bg-accent;
  }
}
.modal__form,
.modal-form__label {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.modal-form__label {
  gap: 15px;
}
.modal-form__text {
  font-size: 14px;
  font-weight: 500;
}
.modal-form__input {
  padding: 18px 20px;
}
.modal-form__btn {
  font-size: 14px;
  padding: 10px 30px;
  display: block;
  margin: 35px auto 15px;
}
.modal__text {
  font-size: 10px;
  font-weight: 500;
  text-align: center;
}
.modal__link {
  text-decoration: underline;
  transition: color vars.$normal;
  &:hover,
  &:focus {
    color: vars.$accent-color;
  }
}
