@use "../utils/vars";

.news {
  padding: 20px 0;
  @media screen and (min-width: 768px) {
    padding: 30px 0;
  }
  @media screen and (min-width: 1340px) {
    padding: 40px 0;
  }
}
.news__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
  }
  @media screen and (min-width: 1340px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.news__img {
  margin-bottom: 10px;
  border-radius: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}
.news__text {
  font-size: 12px;
  font-weight: 500;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 16px;
  }
}
.news__btn {
  margin: 20px auto 0;
  display: block;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 30px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin: 30px auto 0;
  }
  @media screen and (min-width: 1340px) {
    font-size: 16px;
    margin: 40px auto 0;
  }
}
