@use "../utils/vars";

.weather-cards {
  padding: 35px 0;
  @media screen and (min-width: 768px) {
    padding: 50px 0;
  }
  @media screen and (min-width: 1340px) {
    padding: 60px 0 40px;
  }
}
.weather-cards__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 35px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 10px;
  }
}
.weather-cards__item {
  padding: 15px 15px 20px;
  background-color: vars.$bg-accent;
  border-radius: 20px;
  @media screen and (min-width: 768px) {
    padding: 15px 15px 20px;
  }
  @media screen and (min-width: 1340px) {
    width: 25%;
    padding: 15px 20px 20px;
  }
}
.cards-header__box {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.cards__text {
  font-size: 12px;
  font-weight: 500;
  @media screen and (min-width: 1340px) {
    font-size: 14px;
  }
}
.cards-body__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards__time {
  font-size: 20px;
  margin: 25px 0 10px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin: 10px 0;
  }
  @media screen and (min-width: 1340px) {
    font-size: 24px;
    margin: 15px 0 10px;
  }
}
.cards-hourly-forecast__btn {
  font-size: 10px;
  font-weight: 500;
  padding: 7px 14px;
  @media screen and (min-width: 1340px) {
    padding: 8px 18px;
  }
}
.cards-time__box {
  display: flex;
  margin: 12px 0 25px;
  :first-child {
    padding-right: 13px;
    border-right: 1px solid #000;
  }
  :last-child {
    padding-left: 13px;
    border-left: 1 px solid #000;
  }
  @media screen and (min-width: 1340px) {
    margin: 15px 0 20px;
  }
}
.cards-weather__img {
  max-width: 100px;
  max-height: 100px;
  transform: scale(1.5);
  margin: -20px 0;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
  @media screen and (min-width: 768px) {
    max-width: 90px;
    max-height: 90px;
  }
  @media screen and (min-width: 1340px) {
    max-width: 150px;
    max-height: 150px;
  }
}
.cards__temperature {
  font-size: 24px;
  margin: 25px 0 40px;
    @media screen and (min-width: 768px) {
  margin: 25px 0 35px;
  }
  @media screen and (min-width: 1340px) {
  font-size: 32px;
  margin: 15px 0 40px;  
  }
}
.cards-footer__box {
  display: flex;
  gap: 15px;
}
.cards-svg__btn {
  display: flex;
  padding: 5px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  transition: background vars.$normal;
  &:hover,
  &:focus {
    background-color: vars.$accent-color;
  }
  .cards__svg {
    max-width: 25px;
    max-height: 25px;
  }
}
.cards__btn {
  font-size: 10px;
  font-weight: 500;
  padding: 8px 20px;
  margin: 0 auto;
      @media screen and (min-width: 768px) {
  padding: 6px 20px;
  }
  @media screen and (min-width: 1340px) {
  padding: 8px 25px;
  }
}
