@use "./base/common";
@use "./base/container";

@use "./components/input";
@use "./components/buttons";
@use "./components/title";

@use "./layout/header";
@use "./layout/hero";
@use "./layout/modal";
@use "./layout/weatherCards";
@use "./layout/news";
@use "./layout/gallery";
@use "./layout/footer";

// Pages
@use "./pages/DetailsPage/detailsPage";
